<!-- flex-end will move everythings down, no justify self -->
<footer class="footer bg-dark py-3 mt-auto"> 
    <div class="container">
        <span class="text-secondary">&copy; Grails 2023</span>
    </div>
</footer>