<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Grails</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto p-2">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/shops">Shops</a>
                <a class="nav-link" href="/shops/new">New Shop</a>
                <% if (currentUser && currentUser.username === 'chicken') {%>
                    <a class="nav-link" href="/shops/newCategory">New Category</a>
                <% } %>
            </div>
            <div class="navbar-nav p-2">
                <% if(!currentUser) { %>
                    <a href="/users/login" class="nav-link">Login</a>
                    <a href="/users/register" class="nav-link">Register</a>
                <% } else { %>
                    <a href="/users/logout" class="nav-link">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>